* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.main {
    background-color: #f8f9fa;

}

#loader-div {
    backdrop-filter: blur(2px);
    position: fixed;
    width: 100%;
    height: 100vh;
    display: none;
    place-items: center;
}

.loader {
    display: inline-block;
    text-align: center;
    line-height: 86px;
    text-align: center;
    position: relative;
    padding: 0 48px;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

.loader:before,
.loader:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: currentColor;
    position: absolute;
    animation: load .7s infinite alternate ease-in-out;
    top: 0;
}

.loader:after {
    top: auto;
    bottom: 0;
}

@keyframes load {
    0% {
        left: 0;
        height: 43px;
        width: 15px;
        transform: translateX(0)
    }

    50% {
        height: 10px;
        width: 40px
    }

    100% {
        left: 100%;
        height: 43px;
        width: 15px;
        transform: translateX(-100%)
    }
}

.nav {
    position: sticky;
    height: 60px;
    background-color: #7749F8;

}

.nav h1 {
    font-size: 30px;
    font-size: 100%;
}

.nav>div,
.nav a {
    color: #fff;
    text-decoration: none;

}

.nav-2 {
    background-color: #fff;
    color: #000;
    border-bottom: 1px solid #00000030;
    height: 90px;
}

.nav-2 h1 {
    font-size: 3rem;
    font-size: 200%;
    font-weight: bold;
    color: #343A40;
}

.nav-item {
    width: 200px;
}

.content-1 {
    /*border: 1px solid red;
     height: 250px; */
}

.card {
    border: 1px solid #DEE2E6;
    box-shadow: #0000003d 0px 3px 8px;
    max-width: 850px;

}

.m-w {
    max-width: 850px;

}

.card-text {
    color: #6C757D;
}

.drop {
    display: none;
}

.dropdown-menu a {
    display: block;
    color: #000;
}

.dropdown-menu li:hover {
    background-color: #d8d8d8;
    display: block;
    color: #000;
}

.drop button:focus {
    border: none;
}

.login-div,
.signup-div {
    height: calc(100vh - 160px);
}

.login-input-container,
.signup-input-container {
    border: 1px solid #DEE2E6;
    box-shadow: #0000003d 0px 3px 8px;
    height: 30vh;
    max-width: 400px;
    border-radius: 6px;
}

.signup-input-container {
    height: 40vh;
}

.inputt {
    width: 95%;
}

.inputt:focus {
    outline-color: #7849f849;
    border-color: #7849f849;
    box-shadow: 0 0 0 0.25rem #7849f849;
}

.btn {
    border: none;
    outline: none;
    background-color: #7749F8;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background-color: #7849f8;
    color: #fff;

}

.btn:active {
    opacity: 0.9 !important;
    background-color: #7849f8 !important;
    color: #fff !important;

}

.btn:focus {
    background-color: #7849f8;
    color: #fff;

}

#blogImage {
    border-radius: 8px;
    border: 1px solid;
    width: 100px;
    height: 100px;
}

.card-text {
    color: #6c757d;
}

.card-link {
    color: #7749F8;
    text-decoration: none;
}

.blog-input {
    box-shadow: #0000003d 0px 3px 8px;
    height: 30vh;

}

.blog-input input,
.blog-input textarea {
    width: 90%;
}

.blog-input input:focus,
.blog-input textarea:focus {
    outline-color: #7849f849;
    border-color: #7849f849;
    box-shadow: 0 0 0 0.25rem #7849f849;
}

.blog-input textarea {
    height: 114px;
    resize: none;
}

.profile-main-div {
    height: calc(100vh - 160px);
}

.profile-main-div form {
    box-shadow: #0000003d 0px 3px 8px;
    border-radius: 6px;
    height: 80vh;
}

.profile-main-div form div {
    max-width: 350px;
    max-height: 350px;
    position: relative;
}

.profile-main-div form div label {
cursor: pointer;
    position: absolute;
    right: 16px;
    bottom: 16px;
    fill: #7749F8;
    stroke: #fff;
}
input[type="file"]{
    display: none;
}


.profile-main-div div img {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

.profile-main-div input {
    width: 60%;
}

.profile-main-div label {
    position: relative;
    width: 66%;
}

.profile-main-div label input {
    width: 90%;
}

.profile-main-div label svg {
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 0;
    fill: #7749F8;
    stroke: #fff;

}



@media (max-width : 575px) {
    .drop {
        display: block;
    }

    .nav-item {
        display: none !important;
    }

    .card,
    .blog-input {
        width: 95%;
    }

    .login-input-container,
    .signup-input-container,
    .profile-main-div form {
        width: 85%;
    }

    .card-title {
        width: 100%;
    }

    .blog-input {
        box-shadow: #0000003d 0px 3px 8px;
        height: 40vh;

    }

    .profile-main-div img {
        width: 19rem;
        height: 19rem;
        border-radius: 25px;
    }

    .profile-main-div input {
        width: 90%;
    }

    .profile-main-div label {

        width: 100%;
    }


}